<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381908167424-p6ifp94nvr0hn8redtlsu7b71371bkfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381908167424-p6ifp94nvr0hn8redtlsu7b71371bkfi</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ6a9wTkApTHFoDwdYdPRx0noZUwsj0RA</string>
	<key>GCM_SENDER_ID</key>
	<string>381908167424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bundle.tasking</string>
	<key>PROJECT_ID</key>
	<string>tasking-91b75</string>
	<key>STORAGE_BUCKET</key>
	<string>tasking-91b75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381908167424:ios:27be29ff4e87ea4db4e1e5</string>
</dict>
</plist>